* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: fit-content;
}

/* Styles for screens with a maximum width of 768px
@media (max-width: 768px) {
  .nav {
    flex-direction: column; /* Stack menu items vertically
    align-items: flex-start; /* Align items to the left
  }

   .links {
    margin: 10px 0; /* Adjust spacing between menu items
  }
} */


.nav {
  display: flex ;
  align-items: center;
  width: 100%;
  /* height: 50px; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  justify-content: space-between;
  padding: 1% 10%;
  position: fixed;
  background-color: white;
}

#logo {
  /* margin-left: 200px; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Mukta', sans-serif;
  font-size: 1.5em;
}

.links {
  display: flex;
  margin-left: auto;
  /* margin-right: 200px; */
  gap: 3vw;
  flex-wrap: wrap;
}

.links a {
  text-decoration: none;
  color: black;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
}



a:active {
  color: white;
}

.links a:hover {
  color: #53C191;
}

/* Styles for screens with a maximum width of 768px */
/* @media (max-width: 768px) {
  .top-content { */
    /* height: 50vh; Adjust styles for smaller screens */
    /* ... other styles ... */
  /* }
} */


.top-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap: 300px; */
  height: 70vh;
  background-image: url(./images/banner.jpg);
  background-size: cover;
  width: 100%;
  flex-wrap: wrap-reverse;
}

@media screen and (max-width: 768px) {
  .top-photo {
    max-height: 200px; /* Decrease the font size for smaller screens */
  }
}

.top-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}


.top-heading {
  font-size: 3rem;

}

.info p {
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
  /* margin-right: 25px; */
  /* height: 165px; */
  width: 400px;
  gap: 15px;
}

.sign-up-top {
  margin-top: 60px;
  width: fit-content;
  border-radius: 8px;
  padding: 12px;
  margin-top: auto;
  background-color: #53C191;
  color: white  ;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 60px; */
  flex-direction: column;
  /* height: 350px; */
  margin-bottom: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.specialty {
  font-family: 'Mukta', sans-serif;
  font-size: 3em;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 30px;

}

.card {
  /* display: flex; */
  width: 180px;
  height: 280px;
}

.card-image {
  border-radius: 8px;
  margin-bottom: 5px;
  max-width: 100%;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: 60px; */
}

.dialogue {
  height: 320px;
  display: flex;
  justify-content: center ;
  background-color: #E5E7EB;
  width: 100%;
}

 .speech {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* width: 700px; */

 }

 .words {
  font-size: 2em;
  font-weight: 300;
  font-family: 'Zeyada', cursive;
 }

 @media screen and (max-width: 768px) {
  .words {
    font-size: 22px; /* Decrease the font size for smaller screens */
  }
}

 .author {
  display: flex;
  justify-content: flex-end;
  /* width: 700px; */
  font-size: 1em;
  font-weight: 600;
 }

.bottom{
  /* padding: 150px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
  width: 100%;
}

 .action-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  background-color: cornflowerblue;
  height: 120px;
  width: 700px;
  border-radius: 8px;
 }

 @media screen and (max-width: 768px) {
  .action-area{
    max-height: fit-content; /* Decrease the font size for smaller screens */
  }
 }

 .call {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
 }

 @media screen and (max-width: 768px) {
  .call p{
    font-size: 16px; /* Decrease the font size for smaller screens */
  }
 }

 .action-button {
  display: flex;
  align-items: center;
  margin-right: 40px
 }

 .action {
  width: max-content;
  padding: 8px;
  border-radius: 5px;
  background-color: #53C191;
  color: white;
  border: none;

 }
